
.edelweiss {
	max-width: 1920px;
}

.edelweiss_wrapper {
	margin-left: 18.243333%;
    margin-right: 19.15873333%;
}

.edelweiss-item__wrapper {
	height: 225px;
	width: 729px;
	padding-top: 37px;
	padding-left: 2px;
	margin-right: 85px;
}

.edelweiss-item--p1 {
	font-weight: 300;
	font-size: 16.03px;
	margin-left: -2px;
	line-height: 23px;
	display: block;
	padding-bottom: 13px;
}

.edelweiss-item--p2 {
	display: block;
	font-weight: 300;
	font-size: 16.1px;
	margin-left: -2px;
	line-height: 24px;
	padding-bottom: 11px;
}



.edelweiss-item--p3 {
	font-weight: 300;
	font-size: 16.03px;
	margin-left: -2px;
	line-height: 24px;
}


.edelweiss-item__wrapper div {
	width: 176px;
	height: 252px;
	display: inline-block;
	float: left;
}

.avia .avia__h2 {
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	margin-left: -1px;
	margin-bottom: 28px;
}



.avia__p1 {
	font-weight: 300;
	font-size: 16.03px;
	margin-left: -2px;
	line-height: 22px;
	display: block;
	padding-top: 2px;
	padding-bottom: 15px;
}

.edelweiss-item__wrapper div {
	width: 176px;
	height: 252px;
	display: inline-block;
	float: left;
}

.hr {
	width: 75px;
	height: 4px;
	background-color: #fbe364;
	margin-left: 5px;
}

.edelweiss-item__wrapper div {
	width: 176px;
	height: 252px;
	display: inline-block;
	float: left;
}

.edelweiss_wrapper .edelweiss__h2 {
	font-weight: 300;
	font-size: 36.1px;
	line-height: 40px;
	margin-bottom: 26px;
}

.edelweiss-item {
	margin-bottom: 50px;
	max-width: 1200px;
	display: flex;
	height: 255px;
}

.edelweiss-item__wrapper div {
	width: 176px;
	height: 252px;
	display: inline-block;
	float: left;
}

.edelweiss__img1 {
	margin-right: 32px;
	margin-top: 2px;
}

.edelweiss__img2 {
	margin-top: 2px;
}

/*+++ avia +++*/

.avia {
	margin-bottom: 8px;
}

.avia .avia__h2 {
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 28px;
	margin-left: 1px;
}

.avia__p1 {
	font-weight: 300;
	font-size: 16.03px;
	margin-left: -2px;
	line-height: 24px;
	display: block;
	padding-top: 34px;
	padding-bottom: 15px;
}


.avia .avia__h2 {
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 28px;
	margin-left: 1px;;
}


.avia__p1 {
	font-weight: 300;
	font-size: 16.03px;
	margin-left: -2px;
	line-height: 24px;
	display: block;
	padding-top: 35px;
	padding-bottom: 15px;
	padding-left: 2px;
}



















































